sphinx
sphinx-book-theme
sphinx-thebe
myst-nb
myst-parser
jupyter_sphinx
ipykernel
numpy
matplotlib
jupyter-book
pydata-sphinx-theme
ipython
jupyter_client
git+https://github.com/jelmer/googleanalytics.git@master
pandas
pandas-bokeh
imageio
nbconvert
sphinxcontrib-youtube
